<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cs" connectionString="DefaultEndpointsProtocol=https;AccountName=dbpppkstorage;AccountKey=wXxOTy5XwNWWFgY40lr5260WkaRAlSGFmRFH32Ji6rF3mZGbuhjjMFzk+TXZCBIr+XJCU8haUi37+ASt1utJ0Q==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
</configuration>